__pycache__
build
dist
*.egg-info
.vscode
*.pth
tests
checkpoints
runs
cache
*.out
*.o
*.zip
*.png
*.jpg
*.ply
data
figures/*.pdf

rsync*
models
TartanAirResults
thirdparty
datasets
saved_trajectories